node_modules/
venv/
pycache/
db.sqlite3
.env
*.log
.DS_Store

frontend/node_modules/
frontend/.next/
frontend/.cache/
frontend/build/


backend/json_server/venv/
backend/json_server/.idea
backend/json_server/pycache/
backend/json_server/db.sqlite3
backend/json_server/.env
backend/json_server/static/
backend/json_server/media/